In [1]:
import pandas as pd

In [2]:
fema_claims_xl = pd.ExcelFile("Data\Yearly Paid Claims_FEMA.xlsx")

In [7]:
#The total number of claims closed with payment for the given year.
#The total dollar amount paid on closed claims for the given year.
nfip_pd = fema_claims_xl.parse("NFIP")
nfip_df = nfip_pd.groupby(["Year"]).sum()
nfip_df.reset_index(level=0, inplace=True)
#nfip = nfip_df[(nfip_df["Year"] >= 1996) & (nfip_df["Year"] <= 2015)]
nfip = nfip_df.rename(columns = {'NumberOfClaimsClosedWithPayment':'Number of Claims Closed'})
nfip = nfip.rename(columns = {'TotalPaid':'Total Paid on Closed Claims'})
nfip

      Year  Number of Claims Closed  Total Paid on Closed Claims
0   1996.0                  46849.0                 6.354171e+08
1   1997.0                  27063.0                 4.141323e+08
2   1998.0                  52074.0                 7.068683e+08
3   1999.0                  43385.0                 5.631938e+08
4   2000.0                  14718.0                 1.806377e+08
5   2001.0                  40800.0                 1.122068e+09
6   2002.0                  23022.0                 3.473948e+08
7   2003.0                  33674.0                 6.001450e+08
8   2004.0                  50242.0                 1.861358e+09
9   2005.0                 202127.0                 1.590283e+10
10  2006.0                  22181.0                 4.714749e+08
11  2007.0                  20669.0                 4.349540e+08
12  2008.0                  68955.0                 2.851736e+09
13  2009.0                  28630.0                 6.423108e+08
14  2010.0                  26005.0                 5.345683e+08
15  2011.0                  70825.0                 1.821641e+09
16  2012.0                 147610.0                 8.378156e+09
17  2013.0                  16282.0                 3.864282e+08
18  2014.0                  11552.0                 3.013766e+08
19  2015.0                  23479.0                 8.586608e+08
20  2016.0                  56567.0                 3.327988e+09

In [9]:
#The number of Flooding Episdoes for the Year.
noaa_df = fema_claims_xl.parse("NOAA")
noaa_pd = noaa_df.groupby(["Year"]).sum()
noaa_pd.pop("Lat")
noaa_pd.pop("Lon")
noaa = noaa_pd.rename(columns = {'NumEpisodes':'Flooding Episodes'})
noaa.reset_index(level=0, inplace=True)
noaa.head()

     Year  Flooding Episodes
0  1996.0               5633
1  1997.0               4658
2  1998.0               5461
3  1999.0               3873
4  2000.0               3536

In [31]:
fema_funding_xl = pd.ExcelFile("Data\Yearly FEMA funding.xlsx")

In [33]:
#FEMA Funding in billions of Real 2010 Dollars
fema_funding = fema_funding_xl.parse("Data Source-CRS Report")
fema_funding

,Year,Administration Request,Enacted Appropriation,Emergency Supplemental,Total Enacted
0,2000,3.521,3.521,0.000,3.521
1,2001,3.584,1.964,0.000,1.964
2,2002,1.660,0.805,0.000,0.805
3,2003,2.185,0.948,1.690,2.638
4,2004,2.258,2.078,2.555,4.633
5,2005,2.402,2.280,48.122,50.402
6,2006,2.315,1.915,6.491,8.406
7,2007,2.042,1.578,4.305,5.883
8,2008,2.035,1.419,11.108,12.527
9,2009,2.043,1.299,0.000,1.299
10,2010,2.000,1.600,5.100,6.700