In [1]:
import pandas as pd

In [3]:
fema_claims_xl = pd.ExcelFile("Data\Yearly Paid Claims_FEMA.xlsx")

In [6]:
fema_claims_xl.sheet_names

['Instructions',
 'MetaData NFIP',
 'NFIP',
 'MetaData IA',
 'IA',
 'MetaData NOAA',
 'NOAA']

In [7]:
nfip_df = fema_claims_xl.parse("NFIP")
nfip_df.head()

     State    Year  NumberOfClaimsClosedWithPayment    TotalPaid
0  Alabama  1996.0                            178.0   1720417.52
1  Alabama  1997.0                            639.0   9901536.68
2  Alabama  1998.0                           3707.0  63139931.84
3  Alabama  1999.0                            312.0   5444262.91
4  Alabama  2000.0                            146.0   1664539.28

In [9]:
noaa_df = fema_claims_xl.parse("NOAA")
noaa_df.head()

,Year,State,County,Lat,Lon,NumEpisodes,CountyZone
0,2009.0,Alaska,Cape Decision to Salisbury Sound Coastal Area,56.899497,-135.156936,1,Z
1,2004.0,Alaska,Cape Fairweather to Cape Suckling Coastal Area,59.918605,-140.576889,1,Z
2,2009.0,Alaska,Cape Fairweather to Cape Suckling Coastal Area,59.918605,-140.576889,1,Z
3,2015.0,Alaska,Cape Fairweather to Cape Suckling Coastal Area,59.918605,-140.576889,1,Z
4,2004.0,Alaska,Central Beaufort Sea Coast,70.206862,-149.561596,1,Z

In [11]:
fema_funding_xl = pd.ExcelFile("Data\Yearly FEMA funding.xlsx")
fema_funding_xl.sheet_names

['Data Source-CRS Report']

In [12]:
funding_df = fema_funding_xl.parse("Data Source-CRS Report")
funding_df.head()

,Source:,"Congressional Research Service. Bruce Lindsay and Justin Murray. ""Disaster Relief Funding and Emergency Supplemental Appropriations,"" April 12, 2011,",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(in billions of Real 2010 Dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APPROPRIATIONS,2000.0,NaN,2001.0,NaN,2002.0,NaN,2003.0,NaN,2004.0,...,NaN,2008.0,NaN,2009.0,NaN,2010.0,NaN,NaN,NaN,NaN